<div class="container py-5">
   <div class="row gy-3 row-cols-2 justify-content-center">
      <div *ngFor="let item of favFood; trackBy:trackfav" class="col" >
       <div class="card"  [routerLink]="['/details',item.recipe_id]">
         <div class="row g-0">
            <div class="col-md-4">
               <img [src]="item.image_url" class="rounded-start  image-fav img-fluid" [alt]="item.title" [title]="item.title">
            </div>
            <div class="col-md-8">
               <div class="card-body">
                  <h2 class="text-muted h6 card-title">{{item.title}}</h2>
                  <p class="card-subtitle">{{item.publisher}}</p>

               </div>
            </div>
         </div>
       </div>
      </div>
   </div>
</div>